.page-container{
    column-rule: 10px solid rgb(75, 70, 74);
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: 'Times New Roman', Times, serif;
}

.listings-container{
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(72, 97, 180);
    border-radius: 30px;
}

.map-container {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 30px;
}

.ul {
    list-style-type: decimal;
}

.general-page {
    font-family: 'Times New Roman', Times, serif;
}

.items-listed{
    text-align: center;
}

.modal-item-listed{
    align-items: center;
    font-weight: bold;
}

.item-details-info{
    align-self: center;
}